.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* oscurece el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  /* desenfoque al fondo */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* soporte en Safari */
}

.modal-content {
  position: relative;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  z-index: 10;
  line-height: 1;
  padding: 5px;
  transition: color 0.2s ease;
}

.modal-close-button:hover {
  color: #e94560;
}